extends layout

block content
  include partials/header

  .container.pl-sm-0.pr-sm-0.pl-lg-3.pr-lg-3.mt-5.pt-5
    .page-header
      h3 #{profiles.length} Results 
        small.text-muted in #{seconds} seconds

      br

      ul.list-group.list-group-flush
        each profile in profiles
          li.list-group-item.pl-0.pr-0
            div.card
              div.card-body
                h5.card-title #{profile.name} 
                  small #{profile.age}
                h6.card-subtitle.mb-2.text-muted 
                p.card-text
                  != profile.descriptionOriginal.length > 50 ? profile.descriptionOriginal.substring(0, 500) + '...' : profile.descriptionOriginal
                a.card-link.pl-0(href=`/profile/${profile._id}`) View Profile

//- "diet" : "anything",
//- "drinks" : "often",
//- "education" : "",
//- "ethnicity" : "white",
//- "height" : "70",
//- "job" : "artistic / musical / writer",
//- "orientation" : "straight",
//- "religion" : "agnosticism and laughing about it",
//- "sex" : "m",
//- "smokes" : "no",
//- "status" : "single",
//- "description" : "i'm an east coast transplant that's lived in sf for seven years. i\ntry to live my life like do what you can get while you can' i'm\nsometime overly sarcastic to the point you might not know if i'm\ntelling a truth or a lie (what i've been told sometimes). i'm\nalways moving just like the city we live in to the point where\nsleep is not an option. music, music and more music.    if need be: delicious cheese, a device to listen to music,\nmotorcycle, a strait cue stick, strong whiskey and a guitar. thinking about time. out and about the city life, home watching a move, maybe even\nbuilding something.... who can say really.  you love seeing live music and have no one to go with. you want to\ncause some mischief and adventure the city limits.",
