extends layout

block content
  include partials/header

  .container.pl-sm-0.pr-sm-0.pl-lg-3.pr-lg-3.mt-5.pt-5
    .page-header
      h3 #{profiles.length} Results 
        small.text-muted in #{seconds} seconds

      br

      ul.list-group.list-group-flush
        each profile in profiles
          li.list-group-item.pl-0.pr-0
            div.card
              div.card-body
                h5.card-title #{profile.name} 
                  small #{profile.age}
                h6.card-subtitle.mb-2.text-muted 
                p.card-text
                  != profile.descriptionOriginal.length > 50 ? profile.descriptionOriginal.substring(0, 500) + '...' : profile.descriptionOriginal

                br
                a.card-link.pl-0(href=`/profile/${profile._id}`) View Profile